@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Mode Colours */
:root {
    --foreground: #2e2e2e;
    --foreground-alt: #ffffff;
    --background: #ffffff;
    --background-hover: #fafafa;
    --background-alt: #f0f0f0;

    --accent-primary: #1679ab;
    --accent-primary-hover: #0f5f8b;
}

/* Dark Mode Colours */
@media (prefers-color-scheme: dark) {
    :root {
        --foreground: #ffffff;
        --foreground-alt: #2e2e2e;
        --background: #2d2d2d;
        --background-hover: #323232;
        --background-alt: #1e1e1e;

        --accent-primary: #1679ab;
        --accent-primary-hover: #0f5f8b;
    }
}

main {
    min-height: 100dvh;
    color: var(--foreground);
    background: var(--background);
}

input:focus {
    outline: none;
}
